html,
body {
	background-color: #333333;
	font-family: -apple-system, BlinkMacSystemFont,
		"Inter", 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
	color: white;
	overflow: hidden;
}

#container {
	text-align: center;
}

#myBoard {
	position: relative;
	height: 70vmin;
	width: 70vmin;
	min-height: 300px;
	min-width: 300px;

	margin: 0 auto;
}

a {
	color: inherit;
	text-decoration: none;
}

#timer {
	font-size: 50px;
}
