@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

html,
body {
	background-color: #333333;
	font-family: -apple-system, BlinkMacSystemFont,
		"Inter", 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
	color: white;
	overflow: hidden;
}

html, body {
  overflow-x: hidden;
	overflow-y:hidden;
}
body {
  position: relative;
  min-height: 100vh;
}

#container {
	text-align: center;
}

#myBoard {
	position: relative;
	height: 70vmin;
	width: 70vmin;
	min-height: 300px;
	min-width: 300px;

	margin: 0 auto;
}

a {
	color: inherit;
	text-decoration: none;
}

#timer {
	font-size: 50px;
}

#timer-progress {
	position: relative;
	width: 25%;
	background-color: grey;
	overflow: hidden;
	border-radius: 50px;
	margin: 10px auto;
}

#bar {
	position: relative;
	width: 100%;
	height: 10px;
	background-color: transparent;
	transition: 0.5s;
}

#score {
	position: relative;
	margin: 0 auto;
	font-size: 50px;
	transition: 1s;
}

#splashscreen {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	color: black;
	height: 80%;
	width: 80%;
}
